.tree_container {
  width: 100vw;
  height: 100vh;
}
.cont > circle {
  display: none !important;
}
.node__branch,
.node__root,
.node__leaf {
  background-color: red;
  display: flex;
  flex-direction: column;
}
